{{ define "main" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ .Description | default .Summary }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}/images/logo.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  {{ if .Params.cover.image }}
  "image": {
    "@type": "ImageObject",
    "url": "{{ .Params.cover.image | absURL }}"
  },
  {{ end }}
  "wordCount": {{ .WordCount }},
  "timeRequired": "PT{{ math.Ceil (div (countwords .Content) 200.0) }}M",
  "keywords": [{{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}"{{ end }}],
  "articleSection": [{{ range $index, $cat := .Params.categories }}{{ if $index }}, {{ end }}"{{ $cat }}"{{ end }}]
}
</script>

{{ partial "single" . }}

{{ partial "related-posts" . }}
{{ end }}